name: Deploy user service

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Set up SSH
        uses: webfactory/ssh-agent@v0.9.1
        with:
          ssh-private-key: ${{ secrets.VPS_SSH_KEY }}

      - name: Deploy on VPS
        run: |
          ssh -o StrictHostKeyChecking=no root@148.230.126.194 "
          cd /opt/microservices/user-service-global &&
          git pull origin main &&
          docker compose build user-service &&
          docker compose up -d user-service
          "
